:root {
    --primary-color: rgb(170, 0, 255);
    --text-color: white;
    --background-color: rgba(0, 0, 0, 0.913);
    --button-padding: 10px 40px;
    --border-radius: 10px;
}
body{
    background-color: black;
}

.home{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
h1 {
    word-spacing: 10px;
    font-size: 60px;
    letter-spacing: 2px;
}
h2 {
    margin-bottom: 40px;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-size: 30px;
}
.task {
    color: var(--primary-color);
}
.buttons {
    display: flex;
    margin-bottom: 160px;
}
button {
    margin: 10px;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
}
a:nth-of-type(1) button {
    color: var(--text-color);
    background-color: var(--primary-color);
    font-weight: 900;
    border-color: var(--primary-color);
}
a:nth-of-type(2) button {
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    background-color: black;
    font-weight: 900;
}
a:nth-of-type(2) button:hover {
    border-color: white;
    background-color: transparent;
}
a:nth-of-type(1) button:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0px 0px 17px -3px rgba(255, 255, 255, 0.755);
}