:root {
    --primary-color: rgb(255, 0, 255);
    --text-color: rgb(0, 0, 0);
    --background-color: rgba(255, 255, 255, 0.913);
    --button-padding: 10px 40px;
    --border-radius: 10px;
    --box-shadow:0px 0px 17px -3px rgba(0, 0, 0, 0.755);
}

.homeComponent{
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 288deg,  rgb(193, 201, 217) 1.5%, rgb(222, 193, 230) 91.6% );
}

.home{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    
}
h1 {
    word-spacing: 10px;
    font-size: 60px;
    letter-spacing: 2px;
}
h2 {
    margin-bottom: 40px;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-size: 30px;
}
.task {
    color: var(--primary-color);
}
.buttons {
    display: flex;
    margin-bottom: 160px;
}
.buttons button {
    margin: 10px;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
}
.buttons a:nth-of-type(1) button {
    color: white;
    background-color: var(--primary-color);
    font-weight: 900;
    border-color: var(--primary-color);
}
.buttons a:nth-of-type(2) button {
    color: black;
    border: 2px solid var(--primary-color);
    background-color: rgb(255, 255, 255);
    font-weight: 900;
}
.buttons a:nth-of-type(1) button:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}
.buttons a:nth-of-type(2) button:hover {
    border-color: rgb(0, 0, 0);
    background-color: transparent;
}