
  .taskContainer .taskItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 7px 2px #0F000A;
    box-shadow: 0px 0px 7px 2px #e7e0e4;
    color: black;
    
    margin-bottom: 5px;
    width: 80%;

    
  }
  .taskContainer{
    overflow-y:scroll;
    width: 60%;
  }

  .taskItem .icons{
    display: flex;
    justify-content:space-between;
    gap: 10px;
    align-items: center;



  }
  .icons *{
    width: 25px;
    height: 25px;

  }
  .taskContainer .taskItem .icons *:hover {
    /* Change the color to your desired color */
    color: red; /* Change 'red' to the desired color */
  }

  .taskItem p{
    font-size: 25px;
    font-weight: bolder;
    margin: 0;
  }
  .strike{
    text-decoration: line-through;
    color: #8b8a8a;
  }
  section{
    background-color:rgb(244,245,248) ;
  }

  
  
  .createTask {
    height: 30%;
    margin-top: 60px;
    padding: 50px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 7px 2px #0F000A;
    box-shadow: 0px 0px 7px 2px #e7e0e4;
  }

  .inputField{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 30px;
  }
  
  .inputField .btn {
    color: white;
    font-size: 1.2vw;
    height: 40px;
    margin-left: 0px;
    width: 25%;
    min-width: 60px;
    background-color: rgb(92, 32, 236);
  }
  .inputField .btn:hover{
    background-color: rgb(130, 85, 236);
  
  }
  .inputField input{
    width: 60%;
    height: 41px;
    border: 2px solid rgb(244, 245, 248);
    background-color: rgb(244, 245, 248);

  }
  .taskTitle{
    font-size: 38px;
    
  }
  .createTaskContainer{
    background-color: rgb(244,245,248) !important;
  }

  .createdAlert{
    color: rgb(255, 55, 0);
  }