body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 30px;
    margin: 0;
}
h2{
    margin-top:120px;
    margin-bottom: 0;
    font-size: 30px;
}
#task-form{
    margin: 30px 0px;
}
#task-form #new-task{
    padding: 0;
    margin: 0;
    border: 2px solid black;
    width: 500px;
    height: 40px;
}
#task-form button{
    height: 42px;
    border: 2px solid black;
    width: 90px;

}

#task-list div{
    width: 200px;
    border: 2px solid black;
    margin: 5px; /* Add margin to create space between the divs */
    padding: 5px; /* Add padding for content spacing */
    background-color: lightgray; /* Set a background color */
}